* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(40, 40, 40);
    background: url(./../../public/img/pexels-dimitrije-djekanovic-13857977.jpg) no-repeat center fixed;
    background-size: cover;
}

.bgImg {
    background: url(./../../public/img/trace-flag-w.png) no-repeat center fixed;
    background-color: aliceblue;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    z-index: -1 !important;
}

.select-year-container {
    position: absolute;
    bottom: 100px;
    right: 200px;
    max-width: 300px;
    background-color: white;
    opacity: .9;
    color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
}

.search-container {
    flex: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

/*---------------------------------- NAVBAR -----------------------------------*/

.nav-icons-container {
    display: flex;
}

.nav-icons-container .drivers-link,
.nav-icons-container .teams-link,
.nav-icons-container .races-link {
    position: absolute;
    left: -180px;
    transition: 1s;
    width: 300px;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    border-radius: 0 10px 10px 0;
}

.nav-icons-container .drivers-link:hover,
.nav-icons-container .teams-link:hover,
.nav-icons-container .races-link:hover {
    left: 0;
    background-color: black;
}

.drivers-link,
.teams-link,
.races-link {
    display: flex;
    justify-content: flex-end;
}

.drivers-link {
    top: 220px;
}

.teams-link {
    top: 345px;
}

.races-link {
    top: 466px;
}

.icon-drivers {
    width: 80px;
}

.icon-teams {
    width: 90px;
}

.icon-races {
    width: 90px;
}

.nav-icons-container div a {
    display: flex;
    align-items: center;
}

.logo-icon,
.nav-icons-container div img,
.nav-icons-container div a {
    padding: 15px;
    list-style-type: none;
}

.nav-icons-container div p {
    margin: 0;
}

.nav-icons-container div img {
    margin-left: 45px;
}

.nav-icons-container .drivers-link img {
    margin-right: 5px;
    margin-left: 28px;
}

.nav-icons-container div a {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.active-link {
    display: flex;
    justify-content: flex-end;
    background-color: mediumseagreen;
    width: 300px;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    background-color: white;
    transition: 0.4s;
}

.hamburger-icon.change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-icon.change .line:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.change .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*----------------------------------- TABLES ----------------------------------*/

.main {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 20px 20px 0;
    padding: 20px;
    border-radius: 5px;
}

.race-details-main {
    flex-wrap: nowrap;
}

.tab-container {
    background-color: white;
    color: black;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 5px;
    flex: auto;
}

.qualify-tab-container {
    margin: 0 10px;
    flex: 40%;
}

.details {
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.race-details {
    flex: 20%;
}

.details-flag {
    margin-top: 25px;
}

.drivers-name {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

.grand-prix-name,
.drivers-family-name {
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
}

.grand-prix-name {
    font-size: 16px;
}

.tab-container thead td {
    background-color: aliceblue;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
}

.tab-container th,
.tab-container td {
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    padding: 5px 5px 5px 15px;
}

.tab-container th {
    letter-spacing: 1px;
    font-size: 14px;
    background-color: mediumseagreen;
    color: white;
}

.tab-container tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}

h1 {
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: "Audiowide", sans-serif;
    letter-spacing: 2px;
}

/*---------------------------------- ICONS ----------------------------------*/

.cursor {
    cursor: pointer;
}

.flag-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.flag-icon {
    margin-right: 10px;
    border-radius: 7px;
}

.azer {
    border-radius: 2px;
    margin-right: 10px;
    width: 24px;
    height: 18px;
}

.azer_big {
    height: 46px;
    width: 70px;
}

.new-tab-cont {
    display: flex;
    align-items: center;
}

.new-tab-icon {
    padding-left: 5px;
    color: aliceblue;
}

.new-tab-icon-black {
    color: black;
    padding-left: 7px;
}

.new-tab-icon:hover,
.new-tab-icon-black:hover {
    color: mediumseagreen;
}

.new-tab-link {
    text-decoration: none;
    color: black;
}

.img-drivers {
    height: auto;
    width: 100px;
    border-radius: 7px;
}

.team-image {
    height: auto;
    width: 100px;
}

/*---------------------------- LOADER --------------------------*/

.loader-container {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------- LOGO & BREADCRUMBS -------------------------*/

.logo-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    margin-bottom: 120px;
    justify-content: space-between;
}

.logo-icon {
    width: 230px;
    margin: 10px 20px;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    padding: 12px 8px 52px 8px;
    border-radius: 0 0 10px 10px;
}

.breadcrumbs a+a::before {
    content: "/\00a0";
    padding-right: 15px;
}

.breadcrumbs a:hover {
    color: black;
    background-color: aliceblue;
    border-radius: 50px;
    font-weight: normal;
}

.breadcrumb-not-active {
    padding: 7px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.breadcrumb-active {
    font-weight: bold;
    background-color: mediumseagreen;
    border-radius: 50px;
}

/*------------------------- SNACKBAR --------------------------*/

#snackbar {
    visibility: hidden;
    min-width: 300px;
    margin-left: -125px;
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*---------------------- POSITION COLORS -----------------------*/

.position_1 {
    background-color: rgb(255, 255, 113);
}

.position_2 {
    background-color: rgb(203, 212, 206);
}

.position_3 {
    background-color: rgb(255, 170, 84);
}

.position_4 {
    background-color: rgb(181, 251, 162);
}

.position_5 {
    background-color: rgb(198, 233, 255);
}

.position_6 {
    background-color: rgb(255, 210, 210);
}

.position_7 {
    background-color: rgb(255, 210, 210);
}

.position_8 {
    background-color: rgb(255, 210, 210);
}

.position_9 {
    background-color: rgb(255, 210, 210);
}

.position_10 {
    background-color: rgb(255, 210, 210);
}

.position_11 {
    background-color: darkgray;
}

.position_12 {
    background-color: darkgray;
}

.position_13 {
    background-color: darkgray;
}

.position_14 {
    background-color: darkgray;
}

.position_15 {
    background-color: darkgray;
}

.position_16 {
    background-color: darkgray;
}

.position_17 {
    background-color: darkgray;
}

.position_18 {
    background-color: darkgray;
}

.position_19 {
    background-color: darkgray;
}

.position_20 {
    background-color: darkgray;
}

.position_21 {
    background-color: darkgray;
}

.position_22 {
    background-color: darkgray;
}

.position_23 {
    background-color: darkgray;
}

/*-------------------------- RESPONSIVE ------------------------*/

@media screen and (max-width: 1024px) {

    .select-year-container {
        right: 362px;
    }

    #snackbar {
        margin-left: -150px;
    }

    .nav-icons-container .drivers-link,
    .nav-icons-container .teams-link,
    .nav-icons-container .races-link {
        left: -165px;
        width: 270px;
    }

    .icon-drivers {
        width: 70px;
    }

    .icon-teams {
        width: 75px;
    }

    .icon-races {
        width: 80px;
    }

    .main {
        width: 70%;
    }

    .details {
        line-height: 70%;
        font-size: 15px;
        flex: 100%;
        border-radius: 5px;
        text-align: center;
        padding: 30px 0;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .race-details-main {
        flex-wrap: wrap;
    }

    .qualify-tab-container {
        margin: 0 0 20px 0;
    }

    .new-tab-cont {
        justify-content: center;
    }

    .breadcrumbs {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {

    .select-year-container {
        right: 234px;
    }

    #snackbar {
        margin-left: -150px;
    }

    .nav-icons-container {
        display: flex;
        width: 100%;
        margin-top: 102px;
    }

    .nav-icons-container .drivers-link,
    .nav-icons-container .teams-link,
    .nav-icons-container .races-link {
        position: inherit;
        flex: 33%;
        border-radius: 0;
        background-color: red;
    }

    .nav-icons-container .drivers-link:hover,
    .nav-icons-container .teams-link:hover,
    .nav-icons-container .races-link:hover {
        background-color: black;
    }

    .drivers-link,
    .teams-link,
    .races-link {
        display: flex;
        justify-content: center;
    }

    .nav-icons-container div p {
        margin: 0;
    }

    .nav-icons-container div img,
    .nav-icons-container .drivers-link img {
        margin-right: 0;
        margin-left: 0;
    }

    .nav-icons-container div a {
        font-family: "Audiowide", sans-serif;
        color: white;
        font-size: 0;
        text-decoration: none;
    }

    .active-link {
        justify-content: center;
        border-radius: 0;
        width: 100%;
        font-size: 30px;
    }

    .main {
        flex-wrap: wrap;
        width: 100%;
        float: none;
        padding: 20px;
        margin-top: 300px;
    }

    .tab-container {
        font-size: 12px;
        flex: 100%;
    }

    .qualify-tab-container {
        margin: 0 0 50px 0;
    }

    .grand-prix-name,
    .drivers-family-name {
        margin: 12px 0 40px 0;
    }

    .grand-prix-name {
        font-size: 20px;
    }

    .tab-container td {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    .logo-icon {
        margin: 10px;
    }

    .breadcrumbs {
        width: 66.7%;
        margin-right: 0;
        padding: 32px 8px;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {

    .select-year-container {
        bottom: 100px;
        right: 150px;
        padding: 40px;
    }

    #snackbar {
        margin-left: -150px;
    }

    .tab-container td {
        font-size: 10px;
    }

    .logo-icon {
        width: 170px;
        margin: 17px 12px;
    }

    .breadcrumbs {
        width: 66.7%;
        padding: 35px 8px;
        font-size: 13px;
    }

    .breadcrumbs a+a::before {
        padding-right: 8px;
    }

    .breadcrumb-not-active {
        padding: 7px 15px;
        margin: 0 5px;
    }

    .qualify-tab-container {
        margin: 0 0 40px 0;
    }
}

@media screen and (max-width: 415px) {

    .select-year-container {
        bottom: 100px;
        right: 57px;
        padding: 30px;
    }

    #snackbar {
        min-width: 220px;
        margin-left: -110px;
        font-size: 15px;
    }

    .nav-icons-container {
        display: none;
        flex-wrap: wrap;
    }

    .nav-icons-container .drivers-link,
    .nav-icons-container .teams-link,
    .nav-icons-container .races-link {
        transition: 0s;
        position: initial;
        width: 100%;
        border-radius: 0;
        left: 0px;
    }

    .drivers-link,
    .teams-link,
    .races-link {
        justify-content: center;
    }

    .nav-icons-container div img {
        margin-left: 45px;
    }

    .nav-icons-container .drivers-link img {
        margin-right: 5px;
        margin-left: 28px;
    }

    .nav-icons-container div a {
        font-family: "Audiowide", sans-serif;
        color: white;
        font-size: 30px;
        text-decoration: none;
    }

    .active-link {
        width: 100%;
        justify-content: center;
        border-radius: 0;
    }

    .hamburger-container {
        display: inline-block;
        position: absolute;
        background-color: black;
        width: 60px;
        height: 50px;
        right: 0px;
        top: 0px;
        padding: 10px;
    }

    .hamburger-icon {
        display: flex;
        position: absolute;
        right: 13px;
        top: 15px;
    }

    .menu-open {
        display: flex;
    }

    .main {
        margin-top: 535px;
    }

    .tab-container th {
        letter-spacing: 1px;
        font-size: 10px;
        background-color: mediumseagreen;
        color: white;
    }

    .logo-container {
        max-height: 100px;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .logo-icon {
        padding: 10px 30px;
        margin: 0;
    }

    .breadcrumbs {
        width: 100%;
        height: 50px;
        margin-right: 0;
        padding: 10px;
        font-size: 13px;
        border-radius: 0;
    }
}

@media screen and (max-width: 376px) {

    .select-year-container {
        bottom: 90px;
        right: 38px;
        padding: 20px;
    }

    #snackbar {
        margin-left: -110px;
    }

    .details {
        padding: 30px;
        font-size: 13px;
    }

    .tab-container thead td {
        font-size: 15px;
        padding: 10px 0;
    }

    .tab-container th,
    .tab-container td {
        font-size: 10px;
        padding: 5px 5px 5px 11px;
    }

    .grand-prix-name {
        line-height: 100%;
    }

    .breadcrumbs {
        font-size: 12px;
    }

    .breadcrumbs a+a::before {
        padding-right: 6px;
    }

    .breadcrumb-not-active {
        padding: 7px 12px;
    }
}

@media screen and (max-width: 320px) {

    .select-year-container {
        bottom: 80px;
        right: 10px;
        padding: 15px;
    }

    #snackbar {
        margin-left: -110px;
        font-size: 14px;
        padding: 10px;
    }

    .tab-container thead td {
        font-size: 14px;
    }

    .tab-container th,
    .tab-container td {
        font-size: 9px;
        padding: 5px 3px 5px 5px;
    }

    .details {
        font-size: 12px;
    }

    .drivers-name {
        font-size: 15px;
    }

    .grand-prix-name,
    .drivers-family-name {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    .breadcrumbs {
        font-size: 10px;
    }

    .breadcrumbs a+a::before {
        padding-right: 4px;
    }

    .breadcrumb-not-active {
        padding: 8px 11px;
        margin: 0 4px;
    }
}