* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    /*background: url(./../../img/f-1.png) no-repeat center fixed;*/
    background: url(./../../img/trace-flag.png) no-repeat center fixed;
    background-size: cover;
}

.wrapper{
    display: flex;
    justify-content: flex-end;
}

.tab-container {
    background-color: white;
    color: black;
    border-collapse: collapse;
    width: 60%;
    margin-right: 50px;
}

.tab-container th,
.tab-container td {
    border:  1px solid rgb(241, 241, 241);
    text-align: left;
    font-size: 15px;
    padding: 5px 15px;
}

.tab-container th {
    background-color: mediumseagreen;
    color: white;
}

.tab-container tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.tab-container thead {
    font-size: 17px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 30px;
    padding: 10px 25px;
}

.details {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding: 25px;
}

.details :first-child {
    font-weight: bold;
    font-size: 25px;
}

